
.header-img{
    width: 150px;
} 

.container nav{
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color:  rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
}
.logo{
    color: #fff;
}
.navbar-nav a{
    color: white !important;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 0 10px var(--secondery)
}
.navbar-nav a:hover{
    color: #007bff !important;
    text-shadow: 0 0 10px var(--secondery);
    border-radius: 10%;
}
.navbar-collapse{
    flex-grow: 0 !important;
}