:root{
  --primery: #060548;
  --secondery: #9ac2f7;
  --discription: #9191b1;
  --heading: #060548;
  --white: #ffffff;
}

body {
  position: sticky !important;
  background-color: var(--primery) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
.dics{
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  width: 205px;
  height: 50px;
  text-align: center;
  font-family: 'Dosis';
  color: var(--discription);
  display: none; 
}
.btn-btn{
  color: var(--primery);
  background-color: var(--secondery);
  border-radius: 10px;
  font-weight: 700;
  padding: 5px 10px;
  border: none;
  transition: 0.5s;
  box-shadow: none;
  text-decoration: none;
}
.btn-btn:hover{
  color: var(--secondery);
  background-color: var(--primery);
  box-shadow: 0 0 10px  var(--secondery);

}

h1,h2,h3,h4,h5,h6{
  font-family: 'Signika';
  color: var(--primery);
}
p{
  font-family: 'Dosis', sans-serif;
}
a{
  font-family: 'Signika', sans-serif;
}
